@import './colors';

@import './design_system_colors';

$border-color: var(--blue-grey-100) !default;
$border-color-emphasis: var(--blue-grey-900) !default;

// Espacements
// Cf https://www.notion.so/captive/UI-Espacement-du-Design-System-Captive-cc192b02b57d453fa0da9fdc6d1234c2
$spacer-0: 0 !default;
$spacer-1: 4px !default;
$spacer-2: 8px !default;
$spacer-3: 12px !default;
$spacer-4: 16px !default;
$spacer-5: 24px !default;
$spacer-6: 32px !default;
$spacer-7: 48px !default;
$spacer-8: 64px !default;
$spacer-9: 96px !default;
$spacer-10: 128px !default;
$spacer-11: 192px !default;
$spacer-12: 256px !default;
$spacer-13: 512px !default;

@import './fonts';

// Fonts sizes
// Body
$f1: 24px;
$f2: 20px;
$f3: 18px;
$f4: 16px;
$f5: 14px;
$f6: 12px;

// Headers
$h1: 30px;
$h2: 24px;

// Shadows
$shadow-xs:
  0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
$shadow-s:
  0 3px 6px rgba(0, 0, 0, 0.15),
  0 2px 4px rgba(0, 0, 0, 0.12);
$shadow-m:
  0 10px 20px rgba(0, 0, 0, 0.15),
  0 3px 6px rgba(0, 0, 0, 0.1);
$shadow-l:
  0 15px 25px rgba(0, 0, 0, 0.15),
  0 5px 10px rgba(0, 0, 0, 0.5);
$shadow-xl: 0 20px 40px rgba(0, 0, 0, 0.2);

// radius
$border-radius-xs: 8px !default;
$border-radius-s: 12px !default;
$border-radius-m: 20px !default;
