/* stylelint-disable no-invalid-position-at-import-rule */
@import 'active_admin/base';

/* Active Admin CSS */
@media screen {
  @import './typography';
  @import './header';
  @import './forms';
  @import './components/tables';
  @import './components/breadcrumbs';
  @import './components/dropdown_menu';
  @import './components/links';
  @import './components/pagination';
  @import './components/panels';
  @import './components/scopes';
  @import './components/status_tags';
  @import './components/table_tools';
  @import './pages/logged_out';
  @import './structure/footer';
  @import './structure/main_structure';
  @import './structure/title_bar';

  body {
    color: $fg-default;
    @include body-medium;
  }
}

.details {
  margin-top: $spacer-1;
  @include body-small;

  color: $fg-subtle;
}

.col-actions {
  .dropdown_menu_button {
    font-size: 0;
    margin: 0;
    width: $spacer-6;
    height: $spacer-6;
    padding: 0;

    &::before {
      font-size: $f2;
      content: '···';
      border: 0;
      width: $spacer-6;
      height: $spacer-6;
      left: 0;
      top: 0;
      text-align: center;
      line-height: $spacer-6;
    }

    &::after {
      border: 0;
    }
  }
}

* {
  @include transition;
}
