#main_content form {
  width: var(--space-13);
  padding: var(--space-5) 0;
}

form {
  fieldset {
    padding: 0;
    margin: 0;

    &.inputs {
      background-color: var(--bg-subtle);
      box-shadow: none;
      border-radius: 0;
    }

    &.grouped-inputs {
      ol {
        display: flex;

        li {
          margin-left: var(--space-3);
          margin-right: var(--space-3);

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    ol > li {
      padding: 0;
      margin-bottom: var(--space-5);

      label {
        @include body-medium;

        float: none;
        width: auto;
        margin-bottom: var(--space-1);

        abbr {
          color: var(--primary-fg);
          padding-left: var(--space-1);

          &[title] {
            text-decoration: none;
          }
        }
      }
    }
  }

  /* Text Fields */
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='number'],
  input[type='url'],
  input[type='tel'],
  input[type='date'],
  input[type='time'],
  textarea {
    width: 100%;
    border-color: $border-color;
    @include body-large;

    border-radius: var(--rounded-lg);
    padding: var(--space-3);

    &:focus {
      border: 2px solid $border-color-emphasis;
      box-shadow: none;
    }
  }

  fieldset > ol > li {
    /* Boolean Field */
    &.boolean {
      label {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  /* Errors */
  p.inline-errors {
    font-weight: bold;
    margin: var(--space-1) 0;
    text-align: right;
  }

  /* Buttons */
  input[type='submit'],
  form input[type='button'],
  form button {
    @include primary-button;

    cursor: pointer;
  }

  .buttons,
  .actions {
    padding: var(--space-5) 0;
    margin-top: 0;

    input[type='submit'],
    input[type='button'],
    button {
      margin-right: 0;
    }
  }

  fieldset.buttons li,
  fieldset.actions li {
    float: none;
    margin-bottom: 0;

    &.cancel a {
      @include cancel-link;
    }
  }

  .actions {
    ol {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }
}

// -------------------------------------- Sidebar Forms

.sidebar_section {
  label {
    text-transform: none;
    color: $form-label-color;
    @include body-medium;

    margin-bottom: var(--space-4);
    width: 100%;
    font-weight: normal;
  }

  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='url'],
  input[type='tel'],
  textarea {
    @include body-medium;
  }

  .buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

// -------------------------------------- Filter Forms

form.filter_form {
  .filter_form_field {
    padding: var(--space-5) 0;
    margin: 0;
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:first-child {
      border-top: 1px solid $border-color;
    }

    &.select_and_search {
      input[type='text'] {
        flex: 1;
        margin-left: 0;
      }
    }

    &.filter_date_range {
      input[type='text'] {
        flex: 1;

        + input {
          margin-left: var(--space-4);
        }
      }
    }
  }

  a.clear_filters_btn {
    @include cancel-link;
  }
}
