// ----------------------------------- Header
@mixin down-arrow {
  background-image: url($menu-arrow-light-icon-url);
  background-size: 24px;
  background-position-x: calc(100% - 4px);
  padding-right: 28px;
}

#header {
  text-shadow: none;
  background: var(--bg-emphasis);
  padding: 0 var(--space-6);

  h1 {
    color: var(--fg-on-emphasis);
    padding-left: 0;
    height: 60px;
    display: flex;
    align-items: center;

    img {
      top: 0;
      height: 24px;
    }
  }

  a,
  a:link {
    color: $blue-grey-100;
  }

  .header-item {
    top: 0;
  }

  ul.tabs {
    li {
      &:hover > ul {
        display: block;
        margin-top: var(--space-2);
        padding: var(--space-3) 0;
      }
    }

    & > li {
      &.current > a {
        background: none;

        &::before {
          content: '';
          background-color: var(--primary-emphasis);
          position: absolute;
          bottom: 0;
          width: 19px;
          height: 2px;
          left: 50%;
          margin-left: -9px;
        }
      }

      &.has_nested > a {
        @include down-arrow;
      }

      &.has_nested.current > a {
        @include down-arrow;

        background-color: transparent;
      }

      a {
        padding: var(--space-2) var(--space-4);
        font-weight: bold;
        border-radius: var(--rounded-2xl);
      }

      &:hover > a {
        background: $blue-grey-700;
      }

      &.has_nested:hover > a {
        @include rounded-all(20px, 20px, 20px, 20px);
        @include down-arrow;

        border-bottom: none;
        background-color: $blue-grey-700;
      }

      /* Drop down menus */
      ul {
        @include rounded-all(12px, 12px, 12px, 12px);

        background: var(--bg-default);
        text-align: left;
        box-shadow: $shadow-m;
        min-width: var(--space-11);

        li {
          a {
            color: var(--fg-default);
            padding-top: var(--space-3);
            padding-bottom: var(--space-3);

            &:hover {
              background: var(--bg-subtle);
              color: var(--fg-default);
              border-radius: 0;
            }
          }
        }
      }
    }
  }

  #tabs {
    text-align: center;
  }

  #utility_nav {
    padding-right: 0;
  }
}
