// ----------------------------------- Header
#header {
  text-shadow: none;
  background: $bg-emphasis;

  h1 {
    color: $fg-on-emphasis;
  }

  a,
  a:link {
    color: $fg-on-emphasis;
  }

  ul.tabs {
    & > li {
      &.current > a {
        background: $accent-subtle;
        color: $fg-default;
      }

      &:hover > a {
        background: $accent-subtle;
        color: $accent-fg;
      }
    }
  }

  #utility_nav {
    a:hover {
      color: $accent-fg;
    }
  }
}
