.breadcrumb {
  @include body-medium;

  text-transform: none;
  margin-bottom: var(--space-1);

  a,
  a:link,
  a:visited,
  a:active {
    color: var(--fg-subtle);
  }

  .breadcrumb_sep {
    color: var(--primary-fg);
    font-weight: bold;
  }
}
