.breadcrumb {
  @include body-medium;

  text-transform: none;
  margin-bottom: $spacer-1;

  a,
  a:link,
  a:visited,
  a:active {
    color: $fg-subtle;
  }

  .breadcrumb_sep {
    color: $primary-fg;
    font-weight: bold;
  }
}
