.table_tools {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-2);
}

a.table_tools_button,
.table_tools .dropdown_menu_button {
  @include body-medium;

  font-weight: normal;
  outline: none;
  padding: var(--space-2) var(--space-4);
  box-shadow: none;
  background: none;
  @include transition;

  &:not(.disabled) {
    &:hover {
      background: none;
      border-color: $border-color-emphasis;
    }

    &:active {
      transform: scale(0.925);
      box-shadow: none;
      background: none;
      border-color: $border-color-emphasis;
      color: var(--fg-default);
    }
  }
}

.table_tools_segmented_control {
  li {
    a {
      border: 1px solid $border-color;
      border-radius: var(--rounded-2xl);
      margin-right: var(--space-2);
    }

    &:first-child a {
      border-radius: var(--rounded-2xl);
    }

    &:last-child a {
      border-radius: var(--rounded-2xl);
    }

    &.selected a {
      background: var(--bg-subtle);
      box-shadow: none;
      border: 2px solid $border-color-emphasis;

      &:hover {
        background: var(--bg-subtle);
      }
    }
  }
}
