// --------- Index Tables

table.index_table {
  overflow: hidden;

  th {
    padding: $spacer-4;
    color: $fg-subtle;
    background: transparent;

    a,
    a:link,
    a:visited {
      color: $fg-subtle;
    }

    &.sorted-asc,
    &.sorted-desc {
      background: transparent;

      a {
        color: $fg-default;
      }
    }

    &:last-child {
      border-right: none;
    }
  }

  tr.even td {
    background: transparent;
  }

  td {
    border-bottom: 1px solid $border-color;
    vertical-align: middle;
    padding: $spacer-4;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      text-align: right;
    }
  }
}
