#footer {
  background: var(--bg-default);
  padding: var(--space-4) var(--space-6);
  @include body-medium;

  clear: both;

  p {
    padding-top: var(--space-4);
  }
}

#index_footer {
  padding-top: var(--space-1);
  text-align: right;
  @include body-small;

  margin-bottom: var(--space-6);
}
