#active_admin_content {
  padding: 0;

  &.with_sidebar {
    display: flex;
    flex-direction: row-reverse;
  }

  #main_content_wrapper {
    #main_content {
      padding: var(--space-4) var(--space-6);
      background: var(--bg-subtle);
      margin-right: 0;
    }
  }

  #sidebar {
    float: none;
    width: 350px;
    margin-left: 0;
    flex-shrink: 0;
    padding: var(--space-4) var(--space-6);
  }
}
