#title_bar {
  border-bottom: none;
  background: none;
  box-shadow: none;
  padding: var(--space-4) var(--space-6);

  h2 {
    @include title-large;
  }

  .action_items {
    span.action_item {
      & > a,
      & > .dropdown_menu > a {
        @include primary-button;

        padding: var(--space-3) var(--space-4);
      }
    }
  }
}
