#title_bar {
  border-bottom: none;
  background: none;
  box-shadow: none;
  padding: $spacer-4 $spacer-6;

  h2 {
    @include title-large;
  }

  .action_items {
    span.action_item {
      & > a,
      & > .dropdown_menu > a {
        @include primary-button;

        padding: $spacer-3 $spacer-4;
      }
    }
  }
}
