@mixin basic-button {
  // default AA style
  @include rounded(200px);

  display: inline-block;
  font-weight: bold;
  font-size: 1em;
  @include sans-family;

  line-height: 12px;
  margin-right: 3px;
  text-decoration: none;

  &.disabled {
    opacity: 0.5;
    cursor: default;
  }

  // End default AA style
  padding: var(--space-2) var(--space-4);
  transition: background-color 0.3s;
  box-shadow: $shadow-xs;
}
@mixin primary-button {
  background-color: var(--primary-emphasis);
  background-image: none;
  color: var(--primary-on-emphasis);
  border: none;
  text-shadow: none;
  box-shadow: $shadow-s;
  @include body-medium;

  padding: var(--space-3) var(--space-4);

  &:not(.disabled) {
    &:hover {
      background-color: var(--primary-muted);
      background-image: none;
    }

    &:active {
      box-shadow: $shadow-xs;
      background-image: none;
    }
  }
}

@mixin outline-button {
  // style AA
  @include basic-button;

  outline: solid 1px;
  color: var(--fg-muted);
  background-color: var(--bg-subtle);

  &:not(.disabled) {
    &:hover {
      background-color: var(--fg-default);
    }

    &:active {
      background-color: var(--bg-emphasis);
      color: var(--fg-on-emphasis);
    }
  }
}

@mixin light-button {
  @include outline-button;

  &:not(.disabled) {
    &:hover {
      background-color: var(--bg-subtle);
    }
  }
}

@mixin cancel-link {
  outline: 0;
  box-shadow: none;
  text-decoration: underline;
  padding-left: 0;
  color: var(--fg-muted);
  background: transparent;

  &:hover {
    text-decoration: none;
    background-color: transparent !important;
  }
}
