@mixin section-header {
  // héritage AA

  font-size: 1em;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 0.5em;

  // Fin héritage AA
  padding: var(--space-2) var(--space-4);
  color: var(--fg-muted);
  background: var(--bg-default);
  border-bottom: 1px solid $border-color;
}

@mixin section-background {
  background: var(--bg-default);
  border-radius: 0;
  overflow: hidden;
}

@mixin section {
  // héritage AA
  @include section-background;

  margin-bottom: 20px;

  > h3 {
    @include title-small;

    margin: 0;
    padding-bottom: var(--space-4);

    .header_action {
      float: right;
    }
  }

  > div {
    padding: 0;
  }

  hr {
    border: none;
    border-bottom: 1px solid #e8e8e8;
  }

  // Fin héritage AA
  margin-bottom: var(--space-8);
}
