@mixin sans-family {
  @include body-family;
}

@mixin body-family {
  font-family: var(--font-family-text);
}

@mixin title-family {
  font-family: var(--font-family-title);
}

@mixin body-large {
  font-size: $f4;
  line-height: 1.5;
}

@mixin body-medium {
  font-size: $f5;
  line-height: 18px;
}

@mixin body-small {
  font-size: $f6;
  line-height: 1.5;
}

@mixin title {
  font-family: var(--font-family-title);
  font-weight: bold;
}

@mixin title-large {
  @include title;

  font-size: $h1;
  line-height: 1.125;
}

@mixin title-medium {
  @include title;

  font-size: $h2;
  line-height: 1.5;
}

@mixin title-small {
  @include title;

  font-size: $f4;
  line-height: 1.5;
}
